- self.formats = [:mobile, :html]
%article{"data-role" => "page", "data-theme" => "c"}
  = render 'layouts/header'
  %div{"data-role" => "content"}
    = render 'form'
  %footer{"data-role" => "footer"}
    %div{"data-role" => "navbar"}
      %ul
        %li= link_to_preview
        %li= link_to_comments
        %li= link_to_modify(true)
