- content_for :functional_nav do
  %li
    = link_to 'Edit this creation', @creation

= render partial: 'preview', locals: {creation: @creation}

%dl
  %dt Client
  %dd= creation_client_name

= render 'interested'

- if @creation.approvable?
  %p.sprites
    = icon_to("Approve Creation", :approve, approve_creation_path(@creation))
